## .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
.vscode/
*.pidb
*.sln.docstates

## Test Results
TestResults/
UITestResults/
CoverageReport/
*.trx
*.coverage
coverage.*.xml

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

## Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

## ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

## Rider
.idea/

## macOS
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Selenium
*.log
geckodriver.log
chromedriver.log
*.mp4
ffmpeg.pid
webapp.pid

## GitHub Pages
gh-pages/
